.footer {
  background-color: #ffffff;
  padding: 1rem 10%;
  display: flex;
  justify-content: center;
}

.footer_content {
  margin: auto;
  text-align: center;

  @media (max-width: 576px) {
    p {
      font-size: 0.8rem;
    }
  }
}
