// Margin Top
.m_t_half_em {
  margin-top: 0.5em;
}

.m_t_12 {
  margin-top: pxToRem(16px);
}

.m_t_16 {
  margin-top: pxToRem(16px);
}

.m_t_20 {
  margin-top: pxToRem(20px);
}

.m_t_24 {
  margin-top: pxToRem(24px);
}

.m_t_28 {
  margin-top: pxToRem(28px);
}

// Margin Bottom

.m_b_8 {
  margin-bottom: pxToRem(8px);
}
.m_b_12 {
  margin-bottom: pxToRem(12px);
}

.m_b_16 {
  margin-bottom: pxToRem(16px);
}

.m_b_20 {
  margin-bottom: pxToRem(20px);
}

.m_b_24 {
  margin-bottom: pxToRem(24px);
}

.m_b_32 {
  margin-bottom: pxToRem(32px);
}

.m_b_36 {
  margin-bottom: pxToRem(36px);
}

.m_b_40 {
  margin-bottom: pxToRem(40px);
}

.m_b_44 {
  margin-bottom: pxToRem(44px);
}

.m_b_half_em {
  margin-bottom: 0.5em;
}

.m_b_1em {
  margin-bottom: 1em;
}

// Margin Right
.m_r_12 {
  margin-right: 12px;
}

// Padding Top
.p_t_16 {
  padding-top: pxToRem(16px);
}

.p_t_20 {
  padding-top: pxToRem(20px);
}

.p_t_24 {
  padding-top: pxToRem(24px);
}

.p_t_28 {
  padding-top: pxToRem(28px);
}

.p_t_32 {
  padding-top: pxToRem(32px);
}

.p_t_36 {
  padding-top: pxToRem(36px);
}

.p_t_40 {
  padding-top: pxToRem(40px);
}

// Padding Right
.p_r_16 {
  padding-right: pxToRem(16px);
}

.p_r_24 {
  padding-right: pxToRem(24px);
}

.p_r_28 {
  padding-right: pxToRem(28px);
}

.p_r_32 {
  padding-right: pxToRem(32px);
}

.p_r_36 {
  padding-right: pxToRem(36px);
}
.p_r_40 {
  padding-right: pxToRem(40px);
}
.p_r_44 {
  padding-right: pxToRem(44px);
}
.p_r_48 {
  padding-right: pxToRem(48px);
}
