@import "./utilities";

.text_60pt {
  font-size: ptToRem(60pt);
}

.text_56pt {
  font-size: ptToRem(56pt);
}

.text_45pt {
  font-size: ptToRem(45pt);
}

.text_36pt {
  font-size: ptToRem(36pt);
}

.text_32pt {
  font-size: ptToRem(32pt);
}

.text_30pt {
  font-size: ptToRem(30pt);
}

.text_22pt {
  font-size: ptToRem(22pt);
}

.text_20pt {
  font-size: ptToRem(20pt);
}

.text_18pt {
  font-size: ptToRem(18pt);
}

.text_16pt {
  font-size: ptToRem(16pt);
}

.text_12pt {
  font-size: ptToRem(12pt);
}
